h1 {
    text-align: left;
}

h2 {
    text-align: left;
    color: rgb(72, 72, 72);
}

h3 {
    text-align: left;
    color: rgb(107, 107, 107);
}

.decor{color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, rgb(32, 32, 194), rgb(222, 2, 222));


}

.about,.card p {
    text-align: left;
    font-weight: 600;
    color: rgb(107, 107, 107);
}

.column {
    padding-bottom: 20px;
    border-bottom: 3px solid rgb(107, 107, 107);
    color: rgb(107, 107, 107);
}

.about span {
    display: inline;
    background: rgb(110, 228, 110);
    color: rgb(0, 80, 0);
    font-weight: 700;
    padding: 4px 10px;
    border-radius: 30px;
    margin-bottom: 6px;
}

.desc {
    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    justify-content: end;
    box-sizing: border-box;
    align-items: end;
}

button {
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}

button:hover{
    background: red;
}

.grid img{
    width: 6%;
    height: auto;
    margin: 2rem;   
}
.card{
    box-shadow: 2px 2px 15px rgb(51, 51, 51);
   box-sizing: border-box;
    border-radius:10px ;
    overflow: hidden;
}

.card:hover{
    box-shadow: 3px 4px 25px rgb(26, 23, 23);
}
.card img{
    width: 100%;
    height: auto;
}

.card h2{
    text-align: center;
}
.content{
    padding: 1rem;
    display: grid;
    gap: 1rem;
    padding-bottom: 1rem;
}

.btn-button{
    color: rgb(29, 27, 27);
    display: flex;
    justify-content: space-around;
    font-weight: 800;
}

.btn-button a:hover{
    transform: scaleX(1.1);
}

@media screen and (max-width:900px){
    .grid img{
        width: 15%;
        height: auto;
        margin: 25px;   
    }
}

@media screen and (max-width:775px){
    .column{
        font-size: 10px;
    }
}

@media screen and (max-width:500px){
    .grid img{
        width: 18%;
        height: auto;
        margin: 15px;   
    }

}